<a href="https://colab.research.google.com/github/jenna0315/CC17-app/blob/main/ISM4641_Week03_Submission.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Task 1: Container Data with Tuples

## 1. Create Three Container Tuples
* Each tuple might look like:
 * container_a = ("CONT-101", 40.7128, -74.0060, True)
 * Where:
   * CONT-101 is the container ID (a string).
   * 40.7128 and -74.0060 are the lat/long coordinates (floats).
   * True indicates whether the contents are fragile (Boolean)

In [ ]:
container_x = ("CONT-101",33.2223,-24.1114,True) # create container X
container_y = ("CONT-102",55.2225,-26.1116,True) # create container Y
container_z = ("CONT-103",77.2227,-28.1118,True) # create container Z

## 2. Print Each Tuple

In [ ]:
# Show that all three tuples were created properly.
print("Container x:",container_x) # print container X
print("Container y:",container_y) # print container Y
print("Container z:",container_z) # print container Z

Container x: ('CONT-101', 33.2223, -24.1114, True)
Container y: ('CONT-102', 55.2225, -26.1116, True)
Container z: ('CONT-103', 77.2227, -28.1118, True)

## 3. Tuple Immutability Check
* Attempt to modify one of the tuples, for example:
* container_a[1] = 41.0
* Catch or show the error that occurs in a try-except block, or comment out the line, and explain in Markdown why it fails.

In [ ]:
# Attempt to modify tuple x
try:
 container_x[1] = 41.0
 print("Container x:",container_x)
except TypeError:
 print("Tuple cannot be modified")

Tuple cannot be modified

## 4. Unpack a Tuple
* Pick one of the container tuples and unpack it into separate variables (e.g. cont_id, lat, lng, fragile = container_a).
* Print each variable individually using f-strings to confirm youve successfully extracted the data.

In [ ]:
# unpack tuple X
ID, lat, long, fragile = container_x

print(f"Container ID:",ID) # print container x ID
print(f"Latitude:",lat) # print container x lat
print(f"Longitude:",long) # print container x long
print(f"Container is fragile?",fragile) # print if container x is fragile

Container ID: CONT-101
Latitude: 33.2223
Longitude: -24.1114
Container is fragile? True

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

# Task 2: Managing Destinations with Sets

## 1. Create a Set of Destinations
* For example: destinations = {"New York", "Los Angeles", "Dallas", "Chicago", "Miami"}
* Print the set. (Remember, sets may appear in any order.)

In [ ]:
destinations = {"Greece","Italy","Ireland","England","France","Argentina"} # create set of destinations
print("Destinations:",destinations) # print destinations

Destinations: {'England', 'France', 'Italy', 'Argentina', 'Ireland', 'Greece'}

## 2. Modify and Check Membership
* Add a new city to the set (e.g., "Seattle") using .add().
* Remove a city (e.g., "Dallas") using .remove(). Print the set after each
* Check membership for a city that might not be in the set (e.g., "Boston") using "Boston" in destinations, and print a statement like Boston is in the set: False/True.

In [ ]:
print("Print Original Destinations:",destinations) # Print original destinations

destinations.add("Brazil") # add "Brazil" to destinations set
print("Destinations after adding Brazil:",destinations) # Print destinations after adding Brazil

destinations.remove("France") # remove "France" from destinations set
print("Destinations after removing France:",destinations) # Print destinations after removing France

if "France" in destinations: # check if France is in destinations (answer should be no)
  print("France is in the set")
else:
  print("France is not in the set")

Print Original Destinations: {'England', 'France', 'Italy', 'Argentina', 'Ireland', 'Greece'}
Destinations after adding Brazil: {'England', 'Brazil', 'France', 'Italy', 'Argentina', 'Ireland', 'Greece'}
Destinations after removing France: {'England', 'Brazil', 'Italy', 'Argentina', 'Ireland', 'Greece'}
France is not in the set

## 3. Remove vs. Discard

* Demonstrate the difference between .remove() and .discard() by calling them
on a city that does not exist. For example:
* Attempt remove()
* destinations.remove("Paris") # Should raise an error if not in the set

In [ ]:
# attempt remove
try:
  destinations.remove("Hawaii")
  print("Destinations after removing Hawaii:",destinations)
except KeyError:
  print("Hawaii is not in the set") # would raise a key error

Hawaii is not in the set

* Attempt discard()
 * destinations.discard("Paris") # Should not raise an error
 * Print appropriate messages indicating the outcome.

In [ ]:
# attempt discard
destinations.discard("Hawaii") # Should not raise an error
print("Destinations after removing Hawaii:",destinations) # print destinations

Destinations after removing Hawaii: {'England', 'Brazil', 'Italy', 'Argentina', 'Ireland', 'Greece'}

## 4. Basic Set Operations
* Create two additional sets, for instance:
* west_coast = {"Los Angeles", "Seattle"}
* east_coast = {"New York", "Miami"}
* Print the results of:
 * Union of west_coast and east_coast
 * Intersection of destinations and east_coast
 * Difference between destinations and west_coast

In [ ]:
# Create two additional sets
europe = {"England","Greece","Italy","Ireland"}
south_america = {"Brazil","Argentina"}

print("Europe:",europe)
print("South America:",south_america)

# union of europe and south america
union_set = europe.union(south_america)
print("Union of Europe and South America:",union_set)

# intersection of original destinations and south american locations
intersection_set = destinations.intersection(south_america)
print("Intersection of Destinations and South America:",intersection_set)

# difference between original destinations and europe locations
difference_set = destinations.difference(europe)
print("Difference between Destinations and Europe:",difference_set)

Europe: {'England', 'Ireland', 'Greece', 'Italy'}
South America: {'Brazil', 'Argentina'}
Union of Europe and South America: {'England', 'Brazil', 'Italy', 'Argentina', 'Ireland', 'Greece'}
Intersection of Destinations and South America: {'Brazil', 'Argentina'}
Difference between Destinations and Europe: {'Brazil', 'Argentina'}

# Task 3: Bringing It All Together
* Summit Exports needs a combined view of these container tuples and the shipping destinations.

## 1. Display Container Details
* Print each container’s info in a user-friendly format. For example:
 * Container A:
 * ID: CONT-101
 * Coordinates: (40.7128, -74.0060)
 * Fragile: True
 * Use f-strings for clarity

In [ ]:
print(f"Container X:\nID: {container_x[0]}\nCoordinates: ({container_x[1]},{container_x[2]})\nFragile: {container_x[3]}/n") # print container X
print(f"Container Y:\nID: {container_y[0]}\nCoordinates: ({container_y[1]},{container_y[2]})\nFragile: {container_y[3]}") # print container Y
print(f"Container Z:\nID: {container_z[0]}\nCoordinates: ({container_z[1]},{container_z[2]})\nFragile: {container_z[3]}") # print container Z

Container X:
ID: CONT-101
Coordinates: (33.2223,-24.1114)
Fragile: True/n
Container Y:
ID: CONT-102
Coordinates: (55.2225,-26.1116)
Fragile: True
Container Z:
ID: CONT-103
Coordinates: (77.2227,-28.1118)
Fragile: True

## 2. Count Unique Destinations
* Print how many unique destinations are in your destinations set using
len(destinations).
* To see them in alphabetical order, convert to a list and sort: sorted_destinations = sorted(destinations)
* print("All destinations (sorted):", sorted_destinations)

In [ ]:
print("Number of unique destinations:",len(destinations)) # print length of destinations using len
sorted_destinations = sorted(destinations) # sort destinations by alphabetical order
print("All destinations (sorted):", sorted_destinations) # print sorted destinations

Number of unique destinations: 6
All destinations (sorted): ['Argentina', 'Brazil', 'England', 'Greece', 'Ireland', 'Italy']

## 3. Optional Looping / Condition
* (Optional) Add a small loop that iterates over each destination in destinations.

In [ ]:
for city in destinations:
 if city in europe:
  print(f"{city} is in Europe.")
 elif city in south_america:
  print(f"{city} is in South America.")
 else:
  print(f"{city} is neither in Europe nor South America, or is unclassified.")

England is in Europe.
Brazil is in South America.
Italy is in Europe.
Argentina is in South America.
Ireland is in Europe.
Greece is in Europe.